body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Layout vertical: abas em cima, grid embaixo */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}

/* Abas */
#tabs {
    display: flex;
    gap: 10px;
    padding: 10px;
    background: #e1e1e1;
    border-bottom: 1px solid #bbb;
}

.tab {
    padding: 10px 15px;
    cursor: pointer;
    background: #d5d5d5;
    border: 1px solid #aaa;
    border-radius: 6px 6px 0 0;
    font-weight: bold;
}

.tab.active {
    background: #fff;
    border-bottom: 1px solid #fff;
}


#tab-content {
    flex: 1;
    display: flex;
}

.tab-panel {
    flex: 1;
    display: none;
    overflow: hidden;
}

.tab-panel.active {
    display: block;
}

/* Grid Alexandre */
#grid-alexandre {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1.70fr 1.15fr 1.15fr;
    grid-template-rows: 1.5fr 1fr 1fr;
    gap: 8px;
    padding: 8px;
    box-sizing: border-box;
    background: #f4f4f4;
}

/* Mapa */
.quad-principal {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* Boxplot */
.quad-superior-direito {
    grid-column: 3;
    grid-row: 1;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* Linha */
.quad-inferior-esquerdo {
    grid-column: 1 / span 2;
    grid-row: 3;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
}

#vis-linha svg {
  width: 100%;
  height: 100%;
  display: block;
}

/* Waffle / Treemap */
.quad-inferior-direito {
    grid-column: 3;
    grid-row: 2 / span 2;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
}
